body {
    background-color: #f8f8ff;
}

footer {visibility: hidden;}

.fullScreenFrame > div {
    display: flex;
    justify-content: center;
}

.stVideo{
    display: block;
    margin: 0 auto;
    }

#MainMenuButton {
    visibility: hidden;
}

.stTextInput>div>div>input {
    background-color: #004fff29;
}

.connect_button{    
    width: 10% ;}